{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}


{% block head %}

{% endblock %}


{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <div id="document-creator">
            <div>
                <p>Title</p>
                <input name="title" type="text">
        
                <p>Content</p>
                <textarea name="content" maxlength="300" cols="30" rows="10"></textarea>
            </div>
        </div>

        <button type="submit">Login</button>
    </form>
{% endblock %}