{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}


{% block head %}

{% endblock %}


{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        <input id="search-filter" name="search-filter" value="{{search_filter}}" type="text">

        <button type="submit">Search</button>
        <p>-----------------</p>
    </form>

    {% for item in user_items %}
        {% for key, value in item %}
            {% if key == 'uuid' %}
                <a href="delete/{{value}}">Delete</a>
            {% else %}
                <p>{{key}}: {{value}}</p>
            {% endif %}
        {% endfor %}
        <p>-----------------</p>
    {% endfor %}
{% endblock %}